In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('dimensions-copy.csv')

In [8]:
df

,ctr,country,alpha-2,pdi,pdi-x,idv,idv-x,mas,mas-x,uai,uai-x,ltowvs,lto-x,ivr,ivr-x,source-x,n.b.,continent,population
0,AFE,Africa East,,64,,27,,41,,52,,32,,40,,,"Kenya, Ethiopia, Tanzania, Zambia",,NaN
1,AFW,Africa West,,77,,20,,46,,54,,9,,78,,,"Ghana, Nigeria, Sierra Leone",,NaN
2,,Afghanistan,AF,,55,,14,,60,,70,,30,,10,gj,,Asia,38041754.0
3,ALB,Albania,AL,,90,,20,,80,,70,61,,15,,gj,,Europe,2880917.0
4,ALG,Algeria,DZ,,70,,50,,50,,70,26,,32,,gj,,Africa,43053054.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,VIE,Vietnam,VN,70,,20,,40,,30,,57,,35,,gj,,Asia,96462106.0
179,NaN,Western Sahara,EH,,70,,40,,50,,70,,10,,20,gj,,Africa,582463.0
180,NaN,Yemen,YE,,70,,25,,65,,80,,25,,30,itim,,Asia,29161922.0
181,ZAM,Zambia,ZM,,60,,35,,40,,50,30,,42,,gj,,Africa,17861030.0
182,ZIM,Zimbabwe,ZW,,70,,30,,30,,50,15,,28,,gj,,Africa,14645468.0

In [23]:
condensed = pd.DataFrame([
    df['ctr'],
    df['country'],
    df['continent'],
    df['population'],
    np.where(df['pdi'].str.isnumeric(), df['pdi'], df['pdi-x']), 
    np.where(df['idv'].str.isnumeric(), df['idv'], df['idv-x']),
    np.where(df['mas'].str.isnumeric(), df['mas'], df['mas-x']),
    np.where(df['uai'].str.isnumeric(), df['uai'], df['uai-x']),
    np.where(df['ltowvs'].str.isnumeric(), df['ltowvs'], df['lto-x']),
    np.where(df['ivr'].str.isnumeric(), df['ivr'], df['ivr-x'])]).T
condensed.columns = ['Country Code', 'Country Name', 'Continent', 'Population', 
    'Power Distance', 'Individualism', 'Masculinity', 'Uncertainty Avoidance', 
    'Long Term Orientation', 'Indulgence']
condensed

,Country Code,Country Name,Continent,Population,Power Distance,Individualism,Masculinity,Uncertainty Avoidance,Long Term Orientation,Indulgence
0,AFE,Africa East,,NaN,64,27,41,52,32,40
1,AFW,Africa West,,NaN,77,20,46,54,9,78
2,,Afghanistan,Asia,3.80418e+07,55,14,60,70,30,10
3,ALB,Albania,Europe,2.88092e+06,90,20,80,70,61,15
4,ALG,Algeria,Africa,4.30531e+07,70,50,50,70,26,32
...,...,...,...,...,...,...,...,...,...,...
178,VIE,Vietnam,Asia,9.64621e+07,70,20,40,30,57,35
179,NaN,Western Sahara,Africa,582463,70,40,50,70,10,20
180,NaN,Yemen,Asia,2.91619e+07,70,25,65,80,25,30
181,ZAM,Zambia,Africa,1.7861e+07,60,35,40,50,30,42
182,ZIM,Zimbabwe,Africa,1.46455e+07,70,30,30,50,15,28

In [24]:
condensed.to_json('data.json', orient='records')

In [42]:
# df = df.replace('#NULL!', np.NaN)
# df = df.rename(columns={'ctr': 'Country Code', 'country': 'Country', 
#     'pdi': 'Power Distance', 
#     'idv': 'Individualism', 
#     'mas': 'Masculinity', 
#     'uai': 'Uncertainty Avoidance', 
#     'ltowvs': 'Long Term Orientation', 
#     'ivr': 'Indulgence'})
# # df = df.set_index('Country Code')
# df.to_json(orient='records')
# df.to_json('data.json', orient='records')

In [29]:
df = pd.read_json('./data.json')
df.to_json('data_new.json', orient='records')